
*{
	margin : 0;
	padding : 0
}

textarea{
	height: 3rem;
	padding: 0 0;
	width : 100%;
	border: 1px solid black;
	border-radius: 12px;
	display: flex;
	align-items: center;
	line-height: 2.8rem;
	background-color: rgb(52, 52, 52);
	color: white;
	resize: none;
	margin: 0.4rem 0;
	justify-content: space-around;
	overflow: hidden;
}

textarea::placeholder{
	font-weight: bold;
	color: #ccc;
	font-family: 'Arial', sans-serif;
	font-size: 1rem;
	text-align: center;
}

button{
	cursor : pointer;
	background-color: inherit;
	color: white;
	padding: 0.2rem 1rem;
	border-radius: 0.4rem;
	margin: 0.2rem 0;
	border: 3px solid black;
}

a{
	color: inherit;
	text-decoration: none;
}

p{
	margin-bottom: 0.4rem;
}