body{
  background-color: black;
  color: white;
  font-weight: 20;
  font-family: "Sora", sans-serif;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden ;
  overflow-y: hidden;
}
